.font-w {
  color: white; }

.font-g {
  color: #50AD55; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Lato", sans-serif;
  min-width: 320px; }

h1 {
  font-size: 1.6rem;
  font-weight: 900;
  -webkit-text-shadow: #366d39 0.1em 0.1em 0.2em;
  -moz-text-shadow: #366d39 0.1em 0.1em 0.2em;
  text-shadow: #366d39 0.1em 0.1em 0.2em; }

h2 {
  font-size: 1.2rem;
  font-weight: 900;
  padding-bottom: 1rem; }

h3 {
  font-size: 1rem;
  font-weight: 900; }

h4 {
  font-size: 0.95rem;
  font-weight: 700; }

h5 {
  font-size: 0.85rem;
  font-weight: 700; }

p {
  font-size: 0.9rem; }

a {
  font-size: 0.6rem; }

header, #mainNav {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  min-width: 320px; }

header {
  height: 400px;
  background-color: #50AD55;
  padding-top: 4rem;
  color: white; }
  header.missionhead {
    height: 320px; }
  header .container {
    height: 100%;
    position: relative;
    z-index: 2; }
    header .container .header-elements {
      position: absolute;
      width: 300px;
      bottom: 0;
      padding-bottom: 15%; }
      header .container .header-elements.mission {
        top: 50%;
        transform: translateY(-50%);
        width: 40%; }
  header .intro-text {
    display: none; }

footer {
  background-color: #5F5F5F;
  padding: 3rem 0; }
  footer a {
    font-size: 13px;
    color: #AFAFAF !important; }

input {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem; }

section, #maps .map-selector, #safety .safety-div {
  padding: 3rem 1.5rem; }

#mainNav {
  background-color: #50AD55;
  position: absolute;
  z-index: 4;
  width: 100%;
  text-align: right; }
  #mainNav.altNav {
    background-color: #85BE5B; }
  #mainNav li {
    font-weight: 700;
    text-transform: uppercase;
    color: white; }
  #mainNav button {
    z-index: 6; }
  #mainNav .navbar-brand {
    width: 65%; }
    #mainNav .navbar-brand .logo {
      width: 100%; }
  #mainNav .navbar-toggler {
    border-style: none;
    outline-style: none; }
  #mainNav .navbar-collapse {
    position: absolute;
    height: 1000vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    padding-top: 4rem;
    z-index: 5; }
  #mainNav .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none; }
  #mainNav .li-casing {
    background-color: #85BE5B;
    padding: 0.2rem 0 0.2rem 2rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-self: flex-end;
    border-radius: 40px 0 0 40px;
    margin-bottom: 1.4rem; }
    #mainNav .li-casing:nth-of-type(1) {
      background-color: #1F8425; }
    #mainNav .li-casing:nth-of-type(2) {
      background-color: #50AD55; }
    #mainNav .li-casing:nth-of-type(3) {
      background-color: #85BE5B; }
    #mainNav .li-casing:nth-of-type(4) {
      background-color: #BFC364; }
    #mainNav .li-casing:nth-of-type(5) {
      background-color: #9FD592; }

#mobhead {
  text-align: center;
  color: #50AD55; }

#features {
  background-color: #50AD55;
  color: #5F5F5F; }
  #features .relative {
    display: none; }
  #features .card-body {
    height: 176px;
    display: flex;
    align-items: center; }

#nov, #cpn {
  padding: 0; }
  #nov .col-md-6, #cpn .col-md-6 {
    padding-left: 0;
    padding-right: 0; }
  #nov .container, #cpn .container {
    margin-right: 0;
    margin-left: 0; }

#nov-info, #cpn-info {
  background-color: #1F8425; }

#nov-form, #cpn-form {
  color: #50AD55;
  font-weight: 700; }
  #nov-form .form-control, #cpn-form .form-control {
    border-color: #AFAFAF;
    border-radius: 2px;
    background-color: #EDEDED;
    padding: 0.375rem 0.75rem !important; }
  #nov-form .btn, #cpn-form .btn {
    background-color: #1F8425;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem; }

#cpn {
  padding-top: 3rem; }

#cpn-info {
  background-color: #50AD55;
  padding-top: 4rem;
  padding-bottom: 2rem; }
  #cpn-info h2 {
    padding-bottom: 0.5rem; }
  #cpn-info p {
    margin-bottom: 0.5rem;
    width: 80%; }
  #cpn-info button {
    margin-top: 0.8rem; }

#cpn-form {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  #cpn-form .btn {
    background-color: #50AD55; }

#news {
  background-color: #85BE5B;
  padding: auto 0; }

#maps {
  padding: 0; }
  #maps .map-selector {
    background-color: #85BE5B; }
    #maps .map-selector button {
      margin-top: 0;
      width: 49%; }
      #maps .map-selector button:nth-of-type(1) {
        float: left;
        margin-right: 2%; }

#safety {
  padding: 0; }
  #safety .safety-div {
    -webkit-box-shadow: 0px 0px 80px -21px #afafaf;
    -moz-box-shadow: 0px 0px 80px -21px #afafaf;
    box-shadow: 0px 0px 80px -21px #a0a0a0; }
  #safety ul {
    list-style-type: none;
    z-index: 1;
    padding-left: 0;
    width: 90%; }
    #safety ul li {
      background-color: #1F8425;
      text-align: right;
      margin: 0.5rem 0;
      font-size: 13px;
      padding: 0.1rem 1rem 0.1rem 0;
      border-radius: 0 50px 50px 0;
      color: white;
      font-style: italic; }
      #safety ul li:nth-of-type(1) {
        width: 100%;
        background-color: #AFAFAF;
        color: #5F5F5F; }
      #safety ul li:nth-of-type(2) {
        width: 95%; }
      #safety ul li:nth-of-type(3) {
        width: 85%; }
      #safety ul li:nth-of-type(4) {
        width: 82%; }
      #safety ul li:nth-of-type(5) {
        width: 75%; }
      #safety ul li:nth-of-type(6) {
        width: 65%; }
      #safety ul li:nth-of-type(7) {
        width: 55%; }
      #safety ul li:nth-of-type(8) {
        width: 52%; }
  #safety .col-6 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  #safety .stat {
    background-color: #EDEDED; }

#congestion {
  padding: 0;
  background-image: url("../img/traffic.jpg");
  background-size: cover;
  background-color: #9FD592;
  background-blend-mode: multiply; }
  #congestion .congestion-info {
    background-color: #50AD55;
    padding: 2rem 0.5rem; }

#funding {
  padding: 0; }
  #funding img {
    width: 100%; }
  #funding .funding-IMG {
    display: flex;
    align-items: center;
    height: 100; }
  #funding .funding-info {
    -webkit-box-shadow: 6px 0px 11px 0px #b5b5b5;
    -moz-box-shadow: 6px 0px 11px 0px #b5b5b5;
    box-shadow: 6px 0px 11px 0px #b5b5b5; }

#downloads-header {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  background-color: #85BE5B; }
  #downloads-header .downl {
    padding-top: 4rem; }
    #downloads-header .downl h2 {
      font-size: 1.1rem; }
    #downloads-header .downl p {
      width: 95%; }

#download {
  padding-top: 1.5rem;
  width: 90%; }
  #download .btn {
    background-color: #85BE5B;
    width: 100%;
    margin-top: 0.5rem;
    font-weight: 400;
    padding: 0.2rem auto; }
  #download h5 {
    color: #AFAFAF;
    padding-top: 1rem; }

.btn {
  width: 150px;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  margin-top: 1.5em;
  border-radius: 1px;
  font-size: 13px;
  font-weight: 700;
  border-width: medium;
  color: white; }

.relative {
  position: relative;
  width: 100%;
  width: 100%; }
  .relative .header-img {
    position: absolute;
    max-height: 350px;
    right: -1.5rem;
    bottom: 0;
    z-index: 1; }
    .relative .header-img.mission {
      bottom: 48px;
      max-height: 280px; }

.card {
  margin: 0.35rem 0; }
  .card .card-title {
    margin-bottom: 0.3rem; }
  .card .features-icon {
    height: 100%;
    display: flex;
    align-items: center; }
    .card .features-icon img {
      width: 4rem;
      padding-right: 0.5rem; }
  .card.press {
    height: 345px;
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-style: none; }
    .card.press .card-body {
      padding: 1.5rem; }

.carousel .carousel-indicators {
  bottom: -45px; }
  .carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: auto 0.25rem;
    border-radius: 40px; }

.carousel-control-next, .carousel-control-prev {
  display: none; }

@media (min-width: 576px) {
  .container {
    max-width: 641px; } }
@media (min-width: 641px) {
  h1 {
    font-size: 2.6rem; }

  h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem; }

  h3 {
    font-size: 1rem; }

  h4 {
    font-size: 0.95rem;
    font-weight: 700; }

  p {
    font-size: 1rem;
    font-weight: 400; }

  a {
    font-size: 0.6rem; }

  header, #mainNav {
    padding-left: 2rem;
    padding-right: 2rem; }

  header {
    height: 37rem;
    padding-top: 4rem; }
    header .header-elements {
      position: absolute;
      width: 450px !important;
      bottom: 0;
      padding-bottom: 5% !important;
      display: flex;
      flex-direction: column; }
    header .btn {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 400; }

  section, #maps .map-selector, #safety .safety-div {
    padding: 3.7rem 2rem; }

  #mainNav {
    padding-top: 1.5rem; }
    #mainNav .navbar-brand {
      width: 55%; }
    #mainNav .navbar-collapse {
      padding-top: 7rem; }
    #mainNav .li-casing {
      padding: 0.8rem 0 0.8rem 3rem;
      width: 45%; }
      #mainNav .li-casing a {
        font-size: 1.35rem;
        font-weight: 300; }

  #mobhead {
    background-image: url("../img/funky-lines.png"); }
    #mobhead .mobile {
      width: 550px;
      margin: 0 auto; }
    #mobhead p {
      font-size: 1.4rem; }

  #features {
    background-image: url("../img/funky-lines.png");
    background-blend-mode: multiply; }
    #features h2 {
      width: 60%; }
    #features .card-body {
      margin: auto 0.5rem;
      height: auto;
      display: block; }

  #nov .form-info {
    padding-left: 2rem;
    padding-right: 2rem; }
  #nov .form-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center; }
    #nov .form-input input {
      height: 40px; }
  #nov .btn {
    background-color: #1F8425;
    margin-right: 0; }
  #nov .container {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-width: 100%; }
  #nov .row {
    margin-left: 0;
    margin-right: 0; }

  #news {
    background-color: white;
    background-image: url("../img/funky-lines.png"); }
    #news h2 {
      color: #50AD55; }
    #news .carousel-inner {
      -webkit-box-shadow: 6px 0px 11px 0px #b5b5b5;
      -moz-box-shadow: 6px 0px 11px 0px #b5b5b5;
      box-shadow: 6px 0px 11px 0px #b5b5b5;
      width: 70%;
      margin: 0 auto;
      background-color: white; }
    #news .card {
      width: 80%;
      background-color: transparent; }
    #news li {
      background-color: #AFAFAF; }
      #news li.active {
        background-color: #5F5F5F; }

  .relative .header-img {
    max-height: 560px;
    right: -2rem;
    bottom: -13px; }
    .relative .header-img.mission {
      bottom: 48px;
      max-height: 280px; }

  .card .card-title {
    margin-bottom: 1rem; }
  .card .features-icon {
    align-items: flex-end; }
    .card .features-icon img {
      width: 6rem;
      margin: 0 auto; }
  .card.press {
    height: 400p; }

  .btn {
    font-size: 1rem;
    margin-right: 1rem;
    width: 200px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }

  .carousel-control-next, .carousel-control-prev {
    display: block; } }

/*# sourceMappingURL=creative-test.css.map */
