$color-primary: #50AD55
$color-secondary: #85BE5B

.font-w
  color: white

.font-g
  color: $color-primary

body, html
  width: 100%
  height: 100%

body
  font-family: 'Lato', sans-serif

h1
  font-size: 1.6rem
  font-weight: 900

h2
  font-size: 1.2rem
  font-weight: 900
  padding-bottom: 1rem

h3
  font-size: 1rem
  font-weight: 900

h4
  font-size: 0.95rem
  font-weight: 700

p
  font-size: 14px

a
  font-size: 10px

header, #mainNav
  padding-left: 1rem
  padding-right: 1rem

header
  height: 400px
  background-color: $color-primary
  padding-top: 4rem
  color: white
  .container
    height: 100%
    position: relative
    z-index: 2
    .header-elements
      position: absolute
      width: 300px
      bottom: 0
      padding-bottom: 15%
      &.mission
        padding-bottom: 40%
  .intro-text
    display: none


footer
  background-color: #5F5F5F
  padding: 3rem 0
  a
    font-size: 13px
    color: #AFAFAF !important

input
  margin-top: .5rem
  margin-bottom: 1.2rem

section
  padding: 3rem 1rem
  &#mobhead
    text-align: center
    color: $color-primary
  &#features
    background-color: $color-primary
    color: #5F5F5F
    .relative
      display: none
    .card-body
      height: 176px
      display: flex
      align-items: center
  &#nov
    padding: 0
    #nov-info
      background-color: #1F8425
    #nov-form
      color: $color-primary
      font-weight: 700
      .form-control
        border-color: #AFAFAF
        border-radius: 2px
        background-color: #EDEDED
      .btn
        background-color: #1F8425
        padding-top: .6rem
        padding-bottom: .6rem
  &#news
    background-color: $color-secondary
  &#maps
    padding: 0
    .map-selector
      background-color: $color-secondary
      padding: 3rem 1.5rem
    button:nth-of-type(1)
      margin-top: 0
  &#safety
    padding: 0
    ul
      list-style-type: none
      position: absolute
      /* bottom: 670px; *
      top: 50%
      transform: translateY(-50%)
      z-index: 1
      padding-left: 0
      width: 90%
      li
        background-color: #1F8425
        text-align: right
        margin: .7rem 0
        font-size: 14px
        padding: 0.2rem 1rem .2rem 0
        border-radius: 0 50px 50px 0
        color: white
        font-style: italic
        &:nth-of-type(1)
          width: 100%
          background-color: #AFAFAF
          color: #5F5F5F
        &:nth-of-type(2)
          width: 95%
        &:nth-of-type(3)
          width: 85%
        &:nth-of-type(4)
          width: 82%
        &:nth-of-type(5)
          width: 75%
        &:nth-of-type(6)
          width: 65%
        &:nth-of-type(7)
          width: 55%
        &:nth-of-type(8)
          width: 52%
    .col-6
      padding-left: 0 !important
      padding-right: 0 !important
    .safety-div
      padding: 2rem .5rem .1rem .5rem
    .stat
      background-color: #EDEDED
  &#congestion
    padding: 0
    background-image: url("../img/traffic.jpg")
    background-size: cover
    background-color: #9FD592
    background-blend-mode: multiply
    .congestion-info
      background-color: $color-primary
      padding: 2rem .5rem
  &#funding
    padding: 0
    img
      width: 100%
    .funding-IMG
      display: flex
      align-items: center
      height: 100
    .funding-info
      -webkit-box-shadow: 6px 0px 11px 0px rgba(181,181,181,1)
      -moz-box-shadow: 6px 0px 11px 0px rgba(181,181,181,1)
      box-shadow: 6px 0px 11px 0px rgba(181,181,181,1)






#mainNav
  background-color: $color-primary
  position: absolute
  z-index: 4
  // left: 50%
  // transform: translateX(-50%)
  width: 100%
  text-align: right
  li
    font-weight: 700
    text-transform: uppercase
    color: white
  button
    z-index: 6
  .navbar-brand
    width: 65%
    .logo
      width: 100%
  .navbar-toggler
    border-style: none
    outline-style: none
  .navbar-collapse
    position: absolute
    height: 1000vh
    width: 100vw
    background-color: rgba(0, 0, 0, 0.50)
    right: 0
    top: 0
    padding-top: 4rem
    z-index: 5
  .collapsing
    -webkit-transition: none
    transition: none
    display: none
  .li-casing
    background-color: $color-secondary
    padding: .2rem 0 .2rem 2rem
    width: 60%
    display: flex
    flex-direction: row
    text-align: left
    align-self: flex-end
    border-radius: 40px 0 0 40px
    margin-bottom: 1.7rem
    &:nth-of-type(1)
      background-color: #1F8425
    &:nth-of-type(2)
      background-color: #50AD55
    &:nth-of-type(3)
      background-color: #85BE5B
    &:nth-of-type(4)
      background-color: #BFC364
    &:nth-of-type(5)
      background-color: #9FD592

.btn
  display: flex
  flex-direction: column
  align-items: center
  width: 150px
  padding-top: .35rem
  padding-bottom: .35rem
  margin-top: 1.5em
  border-radius: 1px
  font-size: 13px
  font-weight: 700
  border-width: medium
  color: white
  &:hover
    background-color: white
    color: #AFAFAF

.relative
  position: relative
  width: 100%
  width: 100%
  .header-img
    position: absolute
    max-height: 350px
    right: -1rem
    bottom: 0
    z-index: 1
    &.mission
      bottom: 50px


.card
  margin: .35rem 0
  border-radius: 2px
  box-shadow: #366d39 0.2em 0.2em 0.3em
  .card-title
    margin-bottom: .3rem
  .features-icon
    height: 100%
    display: flex
    align-items: center
    img
      width: 4rem
      padding-right: .5rem

.carousel
  .carousel-indicators
    bottom: -40px
    li
      width: 10px
      height: 10px
      border-radius: 40px




@media (min-width:320px) /* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:481px) /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:641px) /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:961px) /* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:1025px) /* big landscape tablets, laptops, and desktops */
@media (min-width:1281px) /* hi-res laptops and desktops */
